@charset "utf-8";

/* Fonts */
@font-face {
    font-family: GOTHAMBOOK;
    font-weight: normal;
    font-style: normal;
    src: url("https://raw.githubusercontent.com/neodahl90/FC_frontend_study/master/chapter2/mission2_8/fonts/GOTHAMBOOK.woff") format("woff");
}



/* reset */
html * {
    margin: 0;
    padding: 0;
}
.test {
    font-family: GOTHAMBOOK;
    font-size: 50px;
}